<div class="w-full max-w-[32rem]">
    <div class="grid gap-[2rem]">
        <h1 class="text-blue-900 font-semibold text-xl text-center">
            ¡Solicita aquí tu préstamo o adelanto!
        </h1>

        <div class="grid gap-3">
            <span class="font-medium">¿Qué producto quieres solicitar?</span>

            <div class="flex gap-2">
                <div class="flex-grow">
                    <input
                            type="radio"
                            name="product"
                            id="option-adelanto"
                            value="adelanto"
                            class="hidden peer"
                    />
                    <label
                            for="option-adelanto"
                            class="inline-flex
          justify-between
          items-center
          w-full
          p-2
          text-gray-500
          bg-white
          border
          border-gray-200
          rounded-2xl
          cursor-pointer
          peer-checked:border-blue-900
          peer-checked:text-blue-900
          hover:text-gray-600
          peer-checked:hover:text-blue-900
          hover:bg-gray-100
          group"
                    >
                        <div class="flex-grow">Adelanto</div>
                        <div
                                class="rounded-full w-4 h-4 border border-[currentColor] flex justify-center align-center"
                        >
                            <div
                                    class="w-3 h-3 rounded-full m-auto bg-blue-900 scale-0 group-peer-checked:scale-100 transition-all"
                            >
                            </div>
                        </div>
                    </label>
                </div>

                <div class="flex-grow">
                    <input
                            type="radio"
                            name="product"
                            id="option-convenio"
                            value="convenio"
                            class="hidden peer"
                    />
                    <label
                            for="option-convenio"
                            class="inline-flex
          justify-between
          items-center
          justify-between
          w-full
          p-2
          text-gray-500
          bg-white
          border
          border-gray-200
          rounded-2xl
          cursor-pointer
          peer-checked:border-blue-900
          peer-checked:text-blue-900
          hover:text-gray-600
          peer-checked:hover:text-blue-900
          hover:bg-gray-100
          group"
                    >
                        <div class="flex-grow">Convenio</div>
                        <div
                                class="rounded-full w-4 h-4 border border-[currentColor] flex justify-center align-center"
                        >
                            <div
                                    class="w-3 h-3 rounded-full m-auto bg-blue-900 scale-0 group-peer-checked:scale-100 transition-all"
                            >
                            </div>
                        </div>
                    </label>
                </div>
            </div>
        </div>

        <div class="grid gap-3">
            <label for="input-company" class="font-medium"
            >¿Cual es la razón social de tu empresa?
            </label>

            <select
                    id="input-company"
                    name="company"
                    class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-900 focus:border-blue-900 block w-full p-2.5 hover:bg-gray-100"
            >
                <option value="" disabled selected>Seleccionar</option>
                <option value="3ATiendas">3A Tiendas</option>
                <option value="3AAdmin">3A Administrativo</option>
                <option value="Atic">ATIC</option>
                <option value="FeniziamFFVV">Feniziam FFVV</option>
                <option value="FeniziamAdministrativo">Feniziam Administrativo</option>
                <option value="Taczana">Taczana</option>
                <option value="3ISolutionsSAC">3I Solutions S.A.C.</option>
                <option value="Toquea">SERVICIOS TECNOLOGICOS FINANCIEROS S.A.C.</option>
            </select>
        </div>
        <button
                id="submitButton"
                type="submit"
                disabled
                class="text-white text-center mr-0 bg-blue-900 disabled:bg-blue-300 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 disabled:bg-blue-300 focus:outline-none"
        >Empieza</button
        >
    </div>
</div>

<script>
  import { track } from "astrojs-mixpanel/client";

  const productRadio = document.querySelectorAll('[name="product"]');
  const companySelector = document.querySelector("#input-company");
  const button = document.querySelector("#submitButton");

  const formData = {
    company: null,
    product: null,
    link: null,
  };

  productRadio.forEach((radio) => {
    radio.addEventListener("change", () => {
      if (radio.checked) {
        formData.product = radio.value;
      }
      checkForm();
    });
  });

  companySelector?.addEventListener("change", (ev) => {
    formData.company = companySelector.value;
    checkForm();
  });

  function checkForm() {
    const linksAdelanto = {
      Atic: "https://grupoaje-app.kuenta.co/o/IWIS8Q6NR?utm_source=web&utm_medium=interno&utm_campaign=navidad-toquea-atic-a&utm_id=Ad-atic",
      "3AAdmin":
        "https://grupoaje-app.kuenta.co/o/4VQDUQEHR?utm_source=web&utm_medium=interno&utm_campaign=navidad-toquea-3Aadmin-a&utm_id=Ad-3Aadmin",
      "3ATiendas":
        "https://grupoaje-app.kuenta.co/o/MJSS8QEHR?utm_source=web&utm_medium=interno&utm_campaign=navidad-toquea-3Atiendas-a&utm_id=Ad-3Atiendas",
      Taczana: "https://grupoaje-app.kuenta.co/o/S5HASCGVG",
      FeniziamFFVV: "https://grupoaje-app.kuenta.co/o/YQHFHEGVR",
      FeniziamAdministrativo: "https://grupoaje-app.kuenta.co/o/UNGCHPGVG",
      "3ISolutionsSAC": "https://grupoaje-app.kuenta.co/o/SHMU3AMDR",
      Toquea: "https://grupoaje-app.kuenta.co/o/EZBNKLMDG"
    };

    const linksConvenio = {
      Atic: "https://grupoaje-app.kuenta.co/o/WLTO8QENG?utm_source=web&utm_medium=interno&utm_campaign=navidad-toquea-atic-c&utm_id=Conv-atic",
      "3AAdmin":
        "https://grupoaje-app.kuenta.co/o/BJUF8Q6HR?utm_source=web&utm_medium=interno&utm_campaign=navidad-toquea-3Aadmin-c&utm_id=Conv-3Aadmin",
      "3ATiendas":
        "https://grupoaje-app.kuenta.co/o/C_4F8Q6NG?utm_source=web&utm_medium=interno&utm_campaign=navidad-toquea-3Atiendas-c&utm_id=Conv-3Atiendas",
      Taczana: "https://grupoaje-app.kuenta.co/o/HIWJSCGDR",
      FeniziamFFVV: "https://grupoaje-app.kuenta.co/o/YV2L-EGVG",
      FeniziamAdministrativo: "https://grupoaje-app.kuenta.co/o/TVJRFPGDG",
      "3ISolutionsSAC": "https://grupoaje-app.kuenta.co/o/TZF8Q-MDR",
      Toquea: "https://grupoaje-app.kuenta.co/o/MDWO6QGDR"
    };

    const links = {
      convenio: linksConvenio,
      adelanto: linksAdelanto,
    };

    formData.link = links[formData.product]?.[formData.company];

    if (formData.link) {
      button?.removeAttribute("disabled");
      return;
    }
    button?.setAttribute("disabled", "true");
  }

  button?.addEventListener("click", (ev) => {
    if (!formData.link) return;

    try {
      track("ClickForm", {
        company: formData.company,
        product: formData.product,
      });
    } catch (e) {
      console.error(e);
    }

    window.top.location.replace(formData.link);
  });
</script>
